<div class="bg-image"
  style="background-image:
  url('./assets/images/bg-4.jpg');
  height: 100vh">

  <div class="container">
    <h1 class="text-center">Product List</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th><th>NAME</th><th>COMPANY</th><th>PRICE</th><th>CATEGORY
          </th><th>OPERATIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products ">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.company}}</td>
          <td>${{product.price}}</td>
          <td>{{product.category.name}}</td>
          <td>
            <a routerLink="/productdetails/{{product.id}}">
              <button class="btn btn-success">View</button>
            </a>
          </td>
          <td>
            <a routerLink="/updprod/{{product.id}}">
              <button class="btn btn-warning">Update</button>
            </a>
          </td>
          <td>
            <a routerLink="/delprod/{{product.id}}">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <a routerLink="/adminhome">
      <button class="btn btn-primary">Back</button>
    </a>
  </div>
</div>
