
<form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label>Product Id: </label>
        <input type="productId" name="productId" id="productId"
        value="{{prod.id}}" class="form-control" disabled [(ngModel)]="addToCartDto.productId">
    </div>
    <div class="form-group">
        <label>Customer Id</label>
        <input type="text" name="customerId" id="customerId"
        placeholder="Enter customerId" class="form-control" [(ngModel)]="addToCartDto.customerId">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" name="quantity" id="quantity"
        placeholder="Enter quantity" class="form-control" [(ngModel)]="addToCartDto.quantity">
    </div>
    <button class="btn btn-primary">Purchase</button>
</form>